<a href="{% url 'stations:detail' station.id %}">Choose variable</a>
<a href="{% url 'stations:index'  %}">Station list</a>

<h1>{{ station.name }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'stations:vote' station.id %}" method="post">
{% csrf_token %}
<select  name="variable">
{% for variable in station.variable_set.all %}
    <option value="{{ variable.id }}">{{ variable.name }}</option>
{% endfor %}
</select>
<select  name="selected_year" >
{% for year in variable_year_list %}
    <option value="{{ year }}">{{ year }}</option>
{% endfor %}
</select>
<input type="submit" value="Go plot" />
</form>
