{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'stations/style.css' %}" />


{% if stations_list %}
    <ul>
    {% for station in stations_list %}
       <li><a href="{% url 'stations:detail' station.id %}">{{ station.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No stationss are available.</p>
{% endif %}
<img src="/stations/background.jpg" width="500px">
