{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'stations/style.css' %}" />

<a href="{% url 'stations:detail' station.id %}">Choose variable</a>
<a href="{% url 'stations:index'  %}">Station list</a>

<h1>{{station.name}}</h1>
<h4>{{station.province}}</h4>

<table class="Tftable">
<tr>
  <td>Latitude</td>
  <td>{{station.latitude}}</td>
</tr>
<tr>
  <td>Longitude</td>
  <td>{{station.longitude}}</td>
</tr>
<tr>
  <td>Elevation</td>
  <td>{{station.elevation}}</td>
</tr>
</table>
<br>
<br>

<h3> Make a selection</h3>

<table>
<tr>
  <th>Variable</th>
  <th>Period</th>
  <th>Year</th>
  <th>Month</th>
  <th> </th>
</tr>
<tr>
<td>
  <div>
  <form action="{% url 'stations:vote' station.id %}" method="post">
  {% csrf_token %}
   <select  name="variable" >
   {% for variable in station.variable_set.all %}
    <option value="{{ variable.id }}"  {% if variable.id == cs_var %}selected{% endif %}>{{ variable.name }}</option>
   {% endfor %}
  </select>
</td>

<td>
  <select  name="averaging_period" >
    {% for period in ap_list %}
      <option value="{{ period }}" {% if period == cs_ap  %}selected{% endif %}>{{ period }}</option>
    {% endfor %}
  </select>
</td>

<td>
  <select name="selected_year" >
    {% for year in variable_year_list %}
      <option value="{{ year }}" {% if year == cs_year  %}selected{% endif %}>{{ year }}</option>
    {% endfor %}
  </select>
</td>

<td>
  <select name="selected_month" >
    {% for month in variable_month_list %}
      <option value="{{ month }}" {% if month == cs_month  %}selected{% endif %}>{{ month }}</option>
    {% endfor %}
  </select>
</td>

<td>
  <input type="submit" value="Go plot" />
  </form>
</td>  
</tr>
  </div>
</table>


<img src="result.png">

