.TFtable{border-collapse:collapse;
	 width:100px;
	}
.TFtable td{ 
          border:1px solid #d4d4d4; padding:5px;padding-top:7px;padding-bottom:7px;vertical-align:top;text-align:left;
            }
	/*  Define the background color for all the ODD background rows  */
.TFtable tr:nth-child(odd){ 
		background: #f1f1f1;
	}
	/*  Define the background color for all the EVEN background rows  */
.TFtable tr:nth-child(even){
		background: #ffffff;
	}

td {
    vertical-align: top;
}
tr {
    vertical-align: middle;
}
